<div local-class='uiNavbar_toggle'>
  <label local-class='uiNavbar_toggle_label' for='navbar'>
    <div local-class='uiNavbar_toggle_item'></div>
    <div local-class='uiNavbar_toggle_item'></div>
    <div local-class='uiNavbar_toggle_item'></div>
  </label>
</div>

<ul local-class='uiNavbar-list'>
  <li local-class='uiNavbar-item'>
    {{#link-to 'index' local-class='uiNavbar-link'}}Logo{{/link-to}}
  </li>
  <li local-class='uiNavbar-item'>
    {{#link-to 'reports' local-class='uiNavbar-link'}}Reports{{/link-to}}
  </li>
</ul>

<ul local-class='uiNavbar-list'>
  <li local-class='uiNavbar-item'>
    {{#link-to 'report.new' local-class='uiNavbar-link'}}New report{{/link-to}}
  </li>
  <li local-class='uiNavbar-item'>
    {{#link-to 'index' local-class='uiNavbar-link'}}Login{{/link-to}}
  </li>
</ul>