:root {
  --color-dark: #201F1D;
  --color-light: #878787;
  --color-white: #fff;
  --color-marked: #E5DFC5;
  --color-marked-shadow: rgba(88, 88, 88, 0.8);
  --color-green: #43442B;
  --color-red: #832F24;
}
